.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: #edfa00;
    padding: 5px;
  }

  .products > div {
    /* background-color: rgba(9, 9, 191, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-family: Audiowide;
    color: #edfa00;
  }

  